.main-game-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px !important;
}

.header {
  margin-top: 28px;
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 675px;
}

.total-score {
  width: 135px;
  height: 151px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score {
  font-size: 100px;
  font-weight: 500;
  margin: 0;
  height: 112px;
}

.text {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  height: 36px;
  margin: 0;
}

.numbers {
  width: 552px;
  height: 138px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.error-msg {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #ff0c0c;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 72px;
  height: 72px;
  border: 1px solid black;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  cursor: pointer;
}

.buttons-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 1439px) and (min-width: 1024px) {
  .header {
    margin: 0;
    margin-top: 64px;
    gap: 300px;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .header {
    gap: 175px;
  }

  .total-score {
    width: 150px;
    height: 100px;
  }

  .score {
    font-size: 75px;
    height: 90px;
  }

  .text {
    font-size: 20px;
    line-height: 32px;
  }

  .numbers {
    width: 375px;
  }

  .error-msg {
    font-size: 18px;
    line-height: 32px;
  }

  .btn {
    width: 54px;
    height: 54px;
  }

  .buttons-text {
    font-size: 20px;
    line-height: 32px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 425px) {
  .header {
    width: 100%;
    justify-content: center;
    gap: 50px;
    margin-left: 0;
    margin-right: 0;
  }

  .total-score {
    width: 125px;
    height: 100px;
  }

  .score {
    font-size: 54px;
    height: 68px;
  }

  .text {
    font-size: 20px;
    line-height: 32px;
  }

  .numbers {
    width: 200px;
    height: 85px;
  }

  .error-msg {
    font-size: 12px;
    line-height: 24px;
  }

  .buttons {
    width: 100%;
  }

  .btn {
    width: 32px;
    height: 32px;
  }

  .buttons-text {
    font-size: 20px;
    line-height: 32px;
  }
}

/* @media only screen and (max-width: 424px) and (min-width: 320px) { */
@media only screen and (max-width: 320px) {
  .header {
    gap: 0;
    flex-direction: column;
    width: 100%;
  }

  .total-score {
    width: 100%;
    height: 75px;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
  }

  .score {
    font-size: 58px;
    height: 75px;
  }

  .text {
    width: 100px;
    font-size: 16px;
    line-height: 42px;
  }

  .numbers {
    width: 80%;
    height: 80px;
    flex-direction: column-reverse;
  }

  .error-msg {
    font-size: 12px;
    line-height: 24px;
    justify-content: center;
  }

  .buttons {
    width: 100%;
  }

  .btn {
    width: 32px;
    height: 32px;
    font-size: 18px;
    line-height: 28px;
  }

  .buttons-text {
    font-size: 16px;
    line-height: 28px;
    justify-content: center;
  }
}

/* @media only screen and (max-width: 320px) {
  .header {
    gap: 0;
    flex-direction: column;
    width: 100%;
  }

  .total-score {
    width: 100%;
    height: 75px;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
  }

  .score {
    font-size: 58px;
    height: 75px;
  }

  .text {
    width: 100px;
    font-size: 16px;
    line-height: 42px;
  }

  .numbers {
    width: 80%;
    height: 80px;
    flex-direction: column-reverse;
  }

  .error-msg {
    font-size: 12px;
    line-height: 24px;
    justify-content: center;
  }

  .buttons {
    width: 100%;
  }

  .btn {
    width: 32px;
    height: 32px;
    font-size: 18px;
    line-height: 28px;
  }

  .buttons-text {
    font-size: 16px;
    line-height: 28px;
    justify-content: center;
  }
} */