.game-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 450px;
}

img {
  width: 250px;
  height: 250px;
}

.rolling:hover {
  cursor: pointer;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  
.rotating-dice {
  animation: rotate 0.2s linear infinite;
}

.text-below-dice {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  margin: 0;
}

.rules-btn {
  border: none;
  background: black;
  color: white;
  width: 220px;
  height: 44px;
  border-radius: 5px;
  padding: 10px 18px;
  font-size: 24px;
}

.score-btn {
  border: 1px solid black;
  background: white;
  color: black;
  width: 220px;
  height: 44px;
  border-radius: 5px;
  padding: 10px 18px;
  font-size: 24px;
}

.score-btn:hover,
.rules-btn:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1439px) and (min-width: 1024px) {
  img {
    width: 200px;
    height: 200px;
  }

  .game-main{
    height: 350px;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  img {
    width: 175px;
    height: 175px;
  }

  .game-main{
    height: 350px;
  }
}

/* @media only screen and (max-width: 767px) and (min-width: 320px) { */
@media only screen and (max-width: 767px) {
  img {
    width: 125px;
    height: 125px;
  }

  .game-main{
    height: 300px;
  }
}